
/***
	* General helpers
	*/
.span2 {
	grid-column: span 2;
}

.span3 {
	grid-column: span 3;
}

.grid {
	display: grid;
}

.grid-center {
  display: grid;
  place-items: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
